{% extends 'base-template/base.html' %}

{% block title %}Capacitat docent professorat{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center">Gestió de capacitat docent del professorat </h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>

        <div class="row">
            <div class="col-lg-11">
              
                <!-- Filter Fields -->
                <h3>Filtres pel professorat</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-10">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per nom i cognom ">
                        </div>

                        <div class="col-md-2">
                            <label for="filter-active">Filtrar per actiu</label>
                            <select id="filter-active" class="form-select">
                                <option value="">Tots</option>
                                <option value="yes">Actiu</option>
                                <option value="no">No actiu</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Year Filter Form -->
                <form method="get" id="year-filter-form">
                    <label for="year-select">Selecciona un curs acadèmic</label>
                    <select name="year" id="year-select" class="form-select mb-4" onchange="document.getElementById('year-filter-form').submit();">
                        {% for year in available_years %}
                            <!-- Use idYear as the value to send the ID, but display Year in the option text -->
                            <option value="{{ year.idYear }}" {% if year == selected_year %}selected{% endif %}>
                                {{ year.Year }}
                            </option>
                        {% endfor %}
                    </select>
                </form>

                <hr>

                <!-- List of all professors -->
                {% if selected_year %}
                    <h5 style="text-align:center; color:blue">
                            Professorat pel curs acadèmic -  
                        {{ selected_year.Year }} 

                        {% if selected_year.Year != available_years.first.Year %}
                            (Historial)
                        {% endif %}
                    </h5>
                {% endif %}

                <h3>Llistat del professorat</h3>
                <p>
                    Veure per veure la llegenda de les seccions i dels colors  <a href="#explanation-section" class="text-decoration-underline">clicar aquí</a>, o anar al final de la taula.
                </p>

                <br>

                <table class="table" id="professors-table">
                    <thead>
                        <tr>
                            <th class="name-c" style="width:140px">Nom i Cognoms</th>
                            <th class="num-c" style="width: auto;" >Punts totals</th>
                            <th class="num-c" style="width: 120px;">Punts d'alliberació</th>
                            {% for section in all_sections %}
                                <th class="num-c" style="width: auto;">{{ section.LetterSection }}</th>
                            {% endfor %}   
                            <th class="num-c" style="width:80px">Balanç</th>                    
                            <th class="actions-c" style="width:100px";>Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if professor_data %}
                            {% for entry in professor_data %}
               
                            <!-- Check for background color based on condition -->
                            <tr data-name="{{ entry.professor.name }} {{ entry.professor.family_name }}" 
                                data-active="{{ entry.professor.isActive }}"
                                {% if entry.balance == 0 %}
                                    style="background-color: rgba(255, 255, 255, 0.6);"
                                {% elif entry.balance == "NA" %}
                                   style="background-color: #DCDCDC ;"
                                {% elif entry.balance < 0 %}
                                   style="background-color: rgba(255, 99, 71, 0.2);"
                                {% else %}
                                    style="background-color: rgba(255, 255, 102, 0.3);"
                                {% endif %}
                                >
                                    <td>{{ entry.professor.name }} {{ entry.professor.family_name }}</td>

                                    <!-- Capacity points -->
                                    <td>
                                        {% if entry.capacity_points == 0 %}
                                            -
                                        {% else %}
                                        <strong> {{ entry.capacity_points }} </strong>
                                        {% endif %}
                                    </td>

                                    <!-- Free points -->
                                    <td>
                                        {% if entry.free_points == 0 %}
                                            -
                                        {% else %}
                                           <strong> {{ entry.free_points }} </strong>
                                        {% endif %}
                                    </td>
                                   <!-- Display section points dynamically for each section -->
                                    {% for section in all_sections %}
                                    <td>
                                        {% for section_letter, points in entry.section_points %}
                                            {% if section_letter == section.LetterSection %}
                                                {% if points == 0 %}
                                                    -
                                                {% else %}
                                                    {{ points }}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                {% endfor %}                                    
                                    <td style="color: blue"><strong>
                                    {% if entry.balance == "NA" %}
                                        <span style="font-style: italic;">NA</span>
                                    {% else %}
                                        {{ entry.balance }}
                                    {% endif %}</strong>
                                    <td class="actions-c" style="width:100px">
                                        <!-- Edit button -->
                                        <a href="{% url 'capacityprofessor_show' entry.professor.pk %}" class="button-edit btn-sm">Editar</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="11" class="text-center">Cap professor/a pel curs seleccionat en la taula.</td>
                            </tr>        
                        {% endif %}
                    </tbody>
                </table>

                <hr>

                <div class="explanation-list" id="explanation-section" class="mt-4">
                <h5>Seccions i llegenda dels colors de la taula:</h5>

                    <p><strong>Seccions:</strong> 
                        {% for section in all_sections %}
                            {{ section.LetterSection }} = {{ section.NameSection }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <strong>Llegenda dels colors:</strong> 
                    <ul>
                        <li> Si la fila és <span style="background-color: rgba(255, 255, 102, 0.3);">groga</span>  el balanç és positiu i es necessita treure punts ja assignats.
                        <li> Si és <span style="background-color: rgba(255, 99, 71, 0.2);">vermell</span> el balanç es negatiu i falta repartir més punts.
                        <li> Si és <span style="background-color: #DCDCDC;">gris fosc i </span> <span style="background-color: #DCDCDC; color:blue;" > <strong>NA - No Assignat </strong></span> no hi ha cap entrada de la capacitat d'aquell professorat en aquell curs acadèmic.
                        <li> Si no té <span style="background-color: white;"> cap color de fons</span> el balanç és correcte.
                    </ul>
                </div>
                
                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

            <!-- Buttons section fixed on the right -->
            <div class="col-lg-1 d-flex flex-column align-items-end">
                <div class="sticky-top" style="top: 1rem">
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'capacityprofessor_select' %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Afegir capacitat docent</a>
                    </div>
                    {% comment %} <div class="buttons mb-2 d-flex flex-column ">
                        <a href="#" class="button-secondary btn-sm mb-2" style="width: 100%;">Duplicar capacitats docents</a>
                    </div> {% endcomment %}
                    <hr>
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'capacityprofessor_export'  year_id=selected_year.idYear %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Descarregar excel</a>
                    </div>
                    {% comment %} <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'capacityprofessor_upload' %}" class="button-secondary btn-sm mb-2" style="width: 100%;" >Carregar excel</a>
                    </div> {% endcomment %}
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>
    function confirmDelete(professorName) {
        return confirm("Estàs segur que vols eliminar aquest professor: " + professorName + "?");
    }

    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);
    document.getElementById('filter-active').addEventListener('change', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const activeFilter = document.getElementById('filter-active').value;
        const tableRows = document.querySelectorAll('#professors-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const fieldName =  row.getAttribute('data-name') ? normalizeString(row.getAttribute('data-name').toLowerCase()): '';
            const isActive = row.getAttribute('data-active');

            const matchesSearch = fieldName.includes(searchValue);
            const matchesActiveFilter = (activeFilter === '' || isActive === activeFilter);

            if (matchesSearch && matchesActiveFilter) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap Professor amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            if (activeFilter) {
                message += ` actiu "${activeFilter === 'yes' ? 'Sí' : 'No'}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }
</script>

{% endblock %}
