{% extends 'base-template/base.html' %}

{% include 'navbars/navbar-sectionchief-parameters.html' %}

{% load tz %}

{% block title %}Cap de Secció - SASDOC 2.0{% endblock %}

{% block content %}
<div class="dashboard container mt-4">

    <h1 class="text-center">TAULER CAP DE SECCIÓ</h1>

    <h3 class="text-center">Benvingut, Cap de Secció {{ user.username }}</h3>
    {% now "l, F j, Y" as current_date %} 

    <p class="text-center">Data: {{ current_date }}</p>

    <p>Selected Year: {{ global_selected_year }}</p>

    <div class="list-group mt-4">

        <div class="list-group-item">
            <h4>Gestió de les assignatures</h4>
            <p>Aquí podràs gestionar els professors, incloent-hi crear, editar i eliminar professors.</p>
            <a href="{% url 'section_courses_list' %}" class="btn btn-primary">Accedir</a>
        </div>

        <div class="list-group-item">
            <h4>Gestió del Professorat</h4>
            <p>Aquí podràs gestionar els caps de secció, incloent-hi la seva creació, edició i eliminació.</p>
            <a href="#" class="btn btn-primary">Accedir</a>
        </div>

        <div class="list-group-item">
            <h4>Gestió del Curs a Visualitzar</h4>
            <p>Aquesta secció et permet gestionar els camps, seccions, escoles, graus, cursos i tipus de professors per mantenir un registre actualitzat de la informació acadèmica.</p>
            <a href="{% url 'field_list' %}" class="btn btn-primary">Accedir</a>
        </div>

    </div>
</div>
{% endblock %}
