{% extends 'base-template/base.html' %}

{% block title %}Idiomes{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center">Gestió d'idiomes</h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>
        
        <div class="row">
            <div class="col-lg-10">
                <!-- Filter Fields -->
                <h3>Filtres pels idiomes</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-12">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per nom ">
                        </div>
                    </div>
                </div>

                <hr>


                <!-- List of all languages -->
                <h3>Llistat dels idiomes</h3>
                <table class="table table-hover" id="languages-table">
                    <thead>
                        <tr>
                            <th>Idioma</th>
                            <th class="actions-c" style="width:200px">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if languages %}
                            {% for language in languages %}
                                <tr data-language="{{ language.Language }}" >
                                    <td>{{ language.Language }}</td>
                                    <td class="actions-c" style="width:200px">
                                        <!-- Edit button -->
                                        <a href="{% url 'language_edit' language.pk %}" class="button-edit btn-sm">Editar</a>

                                        <!-- Delete form with JavaScript confirmation -->
                                        <form method="post" action="{% url 'language_list' %}" style="display:inline;" onsubmit="return confirmDelete('{{ language.Language }}');">
                                            {% csrf_token %}
                                            <input type="hidden" name="confirm_delete" value="{{ language.pk }}">
                                            <button type="submit" class="button-delete btn-sm">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2" class="text-center">Cap idioma entrat.</td>
                            </tr>        
                        {% endif %}
                    </tbody>
                </table>

                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

            <!-- Buttons section fixed on the right -->
            <div class="col-lg-2">
                <div class="sticky-top" style="top: 1rem;">
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'language_create' %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Afegir idioma</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>
    function confirmDelete(lenguagename) {
        return confirm("Estàs segur que vols eliminar aquest idioma: " + lenguagename + "?");
    }
    
    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const tableRows = document.querySelectorAll('#languages-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const fieldLanguage = row.getAttribute('data-language') ? normalizeString(row.getAttribute('data-language').toLowerCase()) : '';

            const matchesSearch =  fieldLanguage.includes(searchValue);

            if (matchesSearch) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap Idioma amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }

</script>

{% endblock %}
