{% extends 'base-template/base.html' %}

{% block title %}Seccions{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center">Gestió de seccions</h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>
        
        <div class="row">
            <div class="col-lg-10">
                <!-- Filter Fields -->
                <h3>Filtres per les seccions</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-9">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per acrònim o nom">
                        </div>

                        <div class="col-md-3">
                            <label for="filter-active">Filtrar per actiu</label>
                            <select id="filter-active" class="form-select">
                                <option value="">Tots</option>
                                <option value="yes">Actiu</option>
                                <option value="no">No actiu</option>
                            </select>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- List of all sections -->
                <h3>Llistat de seccions</h3>
                <table class="table table-hover" id="sections-table">

                    <thead>
                        <tr>
                            <th>Acrònim</th>
                            <th>Nom</th>
                            <th>Actiu</th>
                            <th class="actions-c" style="width:200px">Accions</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if sections %}
                            {% for section in sections %}
                                <tr  class="{% if not section.isActive %}inactive-row{% endif %}"
                                data-letter="{{section.LetterSection }}" 
                                data-name="{{section.NameSection }}" 
                                data-active="{{ section.isActive|yesno:'yes,no' }}"
                                >
                                    <td> {{section.LetterSection}}</td>
                                    <td>{{ section.NameSection }}</td>
                                    <td>{{ section.isActive|yesno:"Sí,No" }}</td>
                                    <td class="actions-c" style="width:200px">
                                        <!-- Edit button -->
                                        <a href="{% url 'section_edit' section.pk %}" class="button-edit btn-sm">Editar</a>

                                        <!-- Delete form with JavaScript confirmation -->
                                        <form method="post" action="{% url 'section_list' %}" style="display:inline;" onsubmit="return confirmDelete('{{ section.NameSection }}');">
                                            {% csrf_token %}
                                            <input type="hidden" name="confirm_delete" value="{{ section.pk }}">
                                            <button type="submit" class="button-delete btn-sm">Eliminar</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center">Cap secció entrada.</td>
                            </tr>        
                        {% endif %}
                    </tbody>
                </table>

                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

            <!-- Buttons section fixed on the right -->
            <div class="col-lg-2">
                <div class="sticky-top" style="top: 1rem;">
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'section_create' %}" class="button-secondary btn-sm mb-2" style="width: 100%;">Afegir secció</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>
    function confirmDelete(fieldName) {
        return confirm("Estàs segur que vols eliminar aquesta secció: " + fieldName + "?");
    }

    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);
    document.getElementById('filter-active').addEventListener('change', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const activeFilter = document.getElementById('filter-active').value;
        const tableRows = document.querySelectorAll('#sections-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
        const fieldLetter = row.getAttribute('data-letter') ? normalizeString(row.getAttribute('data-letter').toLowerCase()) : '';
        const fieldName = row.getAttribute('data-name') ? normalizeString(row.getAttribute('data-name').toLowerCase()) : '';

            const isActive = row.getAttribute('data-active');

            const matchesSearch = fieldLetter.includes(searchValue) || fieldName.includes(searchValue);
            const matchesActiveFilter = (activeFilter === '' || isActive === activeFilter);

            if (matchesSearch && matchesActiveFilter) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap secció amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            if (activeFilter) {
                message += ` actiu "${activeFilter === 'yes' ? 'Sí' : 'No'}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }

</script>

{% endblock %}
