<!-- Academic Info Navbar -->
<nav class="navbar-sub-nav navbar-expand-lg navbar-light d-flex justify-content-center">
    <ul class="navbar-nav">
        {% url 'year_list' as year_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/years/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ year_list_url }}">Cursos acadèmics</a>
        </li>

        {% url 'usersapp:professor_list' as professor_list_url %}
        <li class="nav-item me-4 {% if '/users/professor/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ professor_list_url }}">Professorat</a>
        </li>

        {% url 'section_list' as section_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/sections/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ section_list_url }}">Seccions</a>
        </li>
        
        {% url 'usersapp:sectionchief_list' as sectionchief_list_url %}
        <li class="nav-item me-4 {% if '/users/sectionchief/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{sectionchief_list_url }}">Caps de secció</a>
        </li>

        {% url 'school_list' as school_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/schools/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ school_list_url }}">Escoles</a>
        </li> 

        {% url 'degree_list' as degree_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/degrees/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ degree_list_url }}">Titulacions</a>
        </li>

        {% url 'course_list' as course_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/courses/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ course_list_url }}">Assignatures</a>
        </li>        
        
        {% url 'field_list' as field_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/fields/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ field_list_url }}">Camps de coneixement</a>
        </li>
  
        {% url 'typeprofessor_list' as typeprofessor_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/typeprofessor/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ typeprofessor_list_url }}">Contractació</a>
        </li>
        
        {% url 'language_list' as language_list_url %}
        <li class="nav-item me-4 {% if '/academicinfo/languages/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{ language_list_url }}">Idiomes</a>
        </li>
    </ul>
</nav>
