<!-- Academic Info Navbar -->
<nav class="navbar-sub-nav navbar-expand-lg navbar-light d-flex justify-content-center">
    <ul class="navbar-nav">
        {% url 'capacityprofessor_list' as capacityprofessor_list_url %}
        <li class="nav-item me-4 {% if '/capacity-professors/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{capacityprofessor_list_url}}">Capacitat docent del professorat</a>
        </li>

        {% url 'sectiontypepoints_list' as sectiontypepoints_list_url %}
        <li class="nav-item me-4 {% if '/section-typepoints/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{sectiontypepoints_list_url}}">Nomenclatura de punts docents</a>
        </li>

        {% url 'courseyear_list' as courseyear_list_url %}
        <li class="nav-item me-4 {% if '/course-year/' in request.path %} active{% endif %}">
            <a class="nav-link" href="{{courseyear_list_url}}">Encàrrec docent</a>
        </li>
    </ul>
</nav>
