body {
    background-color: #f0f0f0;
}

/*TEXT */

body {
    font-size: 14px; /* Adjust as desired for smaller text */
    line-height: 1.4;
}

html {
    overflow-y: scroll;
}

/* Navbar background color and general styling */
.navbar {
    background-color: #f8f9fa; /* Light background color */
    border-bottom: 1px solid #ccc; /* Adds a subtle border */
    padding: 10px;
}


/* Style for navbar links */
.navbar-nav .nav-link {
    color: #343a40; /* Dark gray text color */
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav {
    flex-direction: column; /* Ensure the navbar items stack vertically */
}
/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
    text-decoration: underline; /* Adds underline for clarity */
}

/* Active link styling */
.navbar-nav .nav-link.active {
    background-color: #0056b3; /* Darker blue for active link */
    color: white;
    border-radius: 5px;
}

/* Active link styling */
.nav-item.active {
    text-decoration: underline;  /* Underline the active link */
}
/* Active link styling */
.navbar-sub-nav .nav-item.active .nav-link {
    text-decoration: underline;  /* Underline the active link */
}

/* User info and logout text styling */
.navbar-text {
    color: #343a40;
}

/* Sub navbar */
.navbar-sub-nav {
    background-color: #e0e0e0; /* Custom grey */
    border-bottom: 1px solid #ccc; /* Adds a subtle border */
    padding: 10px;

}
/* Styling for navbar links */
.navbar-sub-nav .nav-link {
    color: #4a4a4a; /* Dark grey for text */
    font-size: 13px; /* Adjust the size to make it more readable */
    padding: 8px 15px; /* Adjust the spacing around the links */
    margin-right: 20px; /* Adds space between links */
    text-align: center; /* Ensures the text is centered in the link */
    display: inline-block; /* Makes each link an inline block for spacing */
}
/* Add hover effect for navbar links */
.navbar-sub-nav .nav-link:hover {
    color: #000; /* Change text color on hover */
    background-color: #e0e0e0; /* Slightly lighter background on hover */
    border-radius: 5px; /* Optional: Rounded corners */
}

/* Optional: Adjust spacing for the container */
.navbar-sub-nav .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

/*BUTTONS*/
.button {
    padding: 10px 16px; /* Adjust padding as needed */
    border: none; /* Remove border */
    border-radius: 4px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Adjust font size as needed */
    transition: background-color 0.3s; /* Smooth transition */
    width: 100%; /* Make buttons take full width of their container */
}


/*CREATE/UPDATE*/
.button-create {
    background-color: #b7e3c1; /* Light green background */
    font-size: 14px; /* Adjust the size */
    color: #176d2b; /* Darker green text color */
    border: 1px solid #28a745; /* Border with a darker shade */
    padding: 8px 12px; /* Adjust padding */
    border-radius: 4px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* Remove underline */
    box-sizing: border-box; /* Ensures padding doesn’t affect total height */
    height: 40px; /* Sets a fixed height for consistency */

}
.button-create:hover {
    background-color: #9fc6a8; /* Slightly darker green on hover */
    color: #176d2b; /* Darker green text color */
}

.button-create:disabled {
    background-color: #e0e0e0; /* Light gray background when disabled */
    color: #b0b0b0; /* Gray text color */
    border: 1px solid #d3d3d3; /* Lighter border */
    cursor: not-allowed; /* Shows a "not-allowed" cursor */
}

/*EDIT*/
.button-edit {
    background-color: #f6c261; /* Light background color */
    font-size: 14px; /* Adjust the size */
    color:#a56505; /* Darker text color */
    border: 1px solid #9e640c; /* Border with a darker shade */
    padding: 8px 12px; /* Adjust padding */
    border-radius: 4px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* Remove underline */
    box-sizing: border-box; /* Ensures padding doesn’t affect total height */
    height: 37px; /* Sets a fixed height for consistency */

}

.button-edit:hover {
    background-color: #ebae51; /* Slightly darker on hover */
    color:#a56505; /* Text color remains the same */
}
/*DELETE*/
.button-delete {
    background-color: #f8b0b5; /* Light background color */
    font-size: 14px; /* Adjust the size to make it more readable */
    color: #c92d39; /* Darker text color */
    border: 1px solid #c92d39; /* Border with a darker shade */
    padding: 8px 12px; /* Adjust padding */
    border-radius: 4px; /* Optional: rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-decoration: none; /* Remove underline */
    box-sizing: border-box; /* Ensures padding doesn’t affect total height */
    height: 37px; /* Sets a fixed height for consistency */
}

.button-delete:hover {
    background-color: #f4999e; /* Slightly darker on hover */
    color: #9f1f2b; /* Darker text color */
}

/*RETURN*/
.button-return {
    background-color: #ceced3; /* Light background color */
    color: #333; /* Dark text color for contrast */
    border: 1px solid #6f7273;
    padding: 6px 10px; /* Reduced padding for a smaller button */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: 12px; /* Smaller font size */
    display: inline-block;

}

.button-return:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
    color: #111; /* Darker text color on hover */
}

.button-secondary {
    background-color: #b3d3ea;
    color: #214159;
    border: 1px solid #98bfe9; /* Slightly darker grey border */
    padding: 8px 16px; /* Padding for a comfortable size */
    border-radius: 4px; /* Rounded corners */
    text-decoration: none; /* Remove underline */
    font-size: calc(14px + 0.5vw); /* Responsive font size */
    text-align: center; /* Ensures the text is centered in the link */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis ; /* Add ellipsis (...) to overflowing text */
    max-width: 100%; /* Prevent the button from exceeding container width */
}

/* Limit the minimum and maximum font sizes */
.button-secondary {
    font-size: clamp(12px, 2.5vw, 14px); /* Font size adjusts between 12px and 14px */
}

.button-secondary:hover {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

.no-data {
    color: #6c757d; /* Slightly darker grey for better contrast */
    padding: 10px 0; /* Adds spacing above and below the text */
    font-style: italic; /* Adds a subtle emphasis */
}

.professor-info {
    color: #1e90ff; /* Brighter blue */
}

.inactive-row{
    background-color: #C0C0C0 !important;
}

.text-content {
    display: block;
    max-height: 3em; /* Display only two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    text-wrap: balance; 
    font-style: italic; /* Adds a subtle emphasis */
}

/* CSS for setting column widths */
/* Set table layout to fixed to prevent columns from expanding */
.table {
    table-layout: fixed;
    width: 100%;
}

/* Prevent text from wrapping and add ellipsis for overflow */
.table th, .table td {
    text-wrap: balance; 
    overflow: hidden;     
    text-overflow: ellipsis;  
    vertical-align: middle; /* Ensure content is vertically centered */
    padding: 15px; /* Add some padding to the cells to ensure they don't collapse */
}


.table th.name-c, .table td.name-c {
    width: 12%;  
    word-break: break-word; /* Ensure long words break */
    text-align: left;
}

.table th.email-c, .table td.email-c {
    width: 17%;
    word-break: break-word; /* Ensure long words break */
}

.table th.active-c, .table td.active-c {
    width: 8%;
    text-align: left;
}

.table th.num-c, .table td.num-c {
    width: 8%;
    text-align: left;
}

/* Allow other columns to be flexible */
.table th:not(.actions-c),
.table td:not(.actions-c) {
    flex-grow: 1; /* Allow other columns to grow */
}


/* Center-align header text */
.table th.actions-c {
    text-align: center;       /* Center-align the column name */
    flex-shrink: 0; /* Prevent shrinking of the Accions column */

}

/* Right-align cell content and set a fixed width */
.table td.actions-c {
    text-align: end;
    flex-shrink: 0; /* Prevent shrinking of the Accions column */
    width: 200px; /* Set fixed width for the Accions column */

}

/* Right-align cell content and set a fixed width */
.table td.actions-c, .table th.actions-c {
    text-align: end;
    width: fit-content; /* Set fixed width for the Accions column */
    flex-shrink: 0; /* Prevent shrinking of the Accions column */
}

/* Ensure buttons are inline and properly padded */
.table td.actions-c .button-edit, 
.table td.actions-c .button-delete {
    text-align: end;
    display: inline-block;
}

/*FORMS*/
/* Global form styles */
.form-group {
    margin-bottom: 1.5rem;
    align-items: center;
    width: 100%;
}

.form-group label {
    width: 20%;
    margin-bottom: 0.5rem;
    text-align: left; /* Left-align the label */
}

.form-group .form-control {
    width: 100%; /* Make sure inputs take full width */
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.form-group .form-check-input {
    width: 100%;
    margin-top: 0.3rem;
    vertical-align: middle; /* Align label with checkbox */
}

.form-group .form-check-label {
    display: inline-block;
    vertical-align: middle; /* Align label with checkbox */
}

/* Align label to the left and input to the right using flexbox */
.form-group.row {
    display: flex;
    align-items: center;
}

.form-group.row label {
    flex: 0 0 40%; /* Adjust the width for the label */
    max-width: 30%;
}

.form-group.row .form-control {
    flex: 1 1 70%; /* Make input fields take up remaining space */
}

/* Optional: Style for error messages */
.form-group .invalid-feedback {
    color: #e74a3b;
    font-size: 0.875rem;
}

/* For multiple choice (checkboxes) */
.form-check {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    align-items: center;


}
.form-check-input {
    margin-right: 0.5rem; /* Space between checkbox and label */
    vertical-align: middle; /* Align checkboxes with labels */
}

.form-check-label {
    display: inline-block;
    vertical-align: middle; /* Align label with checkbox */
}

/* Ensure dropdown and checkbox fields are visually distinct */
select.form-control,
.form-check-input {
    appearance: none; /* Removes default dropdown arrow for select */
    outline: none;
}

/* Custom class to limit the width of the checkbox */
.custom-checkbox-width {
    width: 10px;          /* Allow the checkbox to have a natural width */
    display: inline-block;/* Prevent checkbox from expanding to full width */
}

/* Optional: style for the label if needed */
.custom-checkbox-width + label {
    display: inline-block; /* Ensure the label stays inline with the checkbox */
    margin-left: 10px;      /* Adjust space between the checkbox and label */
}

select.form-control {
    padding-right: 2.5rem; /* Space for appended icon */
}

.options-group {
    display: flex;
    align-items: center;
}

.options-group .input-group-text {
    background-color: #f8f9fa;
    border-left: 1px solid #ced4da;
    cursor: pointer;
}

.help-text {
    text-align: left;
    color: #6c757d;  /* Default muted text color */
    font-style: italic; /* Adds a subtle emphasis */
    padding: 0;  /* Remove any default padding */
    margin: 0;  /* Remove any default margin */
}