{% extends 'base-template/base.html' %}
{% load tz %}

{% block title %}Director - SASDOC 2.0{% endblock %}

{% block content %}
<div class="dashboard container mt-4">

    <h1 class="text-center">TAULER DIRECTOR@</h1>

    <h3 class="text-center">Benvingut, Director {{ user.username }}</h3>
    {% now "l, F j, Y" as current_date %} 

    <p class="text-center">Data: {{ current_date }}</p>

    <div class="list-group mt-4">

        <div class="list-group-item">
            <h4>Gestió de Professorat</h4>
            <p>Aquí podràs gestionar els professors, incloent-hi crear, editar i eliminar professors.</p>
            <a href="{% url 'usersapp:professor_list' %}" class="btn btn-primary">Accedir</a>
        </div>

        <div class="list-group-item">
            <h4>Gestió de Caps de Secció</h4>
            <p>Aquí podràs gestionar els caps de secció, incloent-hi la seva creació, edició i eliminació.</p>
            <a href="{% url 'usersapp:sectionchief_list' %}" class="btn btn-primary">Accedir</a>
        </div>

        <div class="list-group-item">
            <h4>Gestió Acadèmica</h4>
            <p>Aquesta secció et permet gestionar els camps, seccions, escoles, graus, cursos i tipus de professors per mantenir un registre actualitzat de la informació acadèmica.</p>
            <a href="{% url 'field_list' %}" class="btn btn-primary">Accedir</a>
        </div>

        <div class="list-group-item">
            <h4>Gestió d'Anys i Idiomes</h4>
            <p>Controla els anys acadèmics i els idiomes d'ensenyament disponibles per cada curs i professor.</p>
            <a href="{% url 'language_list' %}" class="btn btn-primary">Accedir</a>
        </div>

    </div>
</div>
{% endblock %}
