{% extends 'base-template/base.html' %}

{% block title %} Assignatures - {{ section.NameSection }}{% endblock %}

{% block content %}
<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">
        <h2 style="text-align:center"> Assignatures de: {{ section.NameSection }} - Curs: {{global_selected_year}} </h2>

        <!-- Display success, warning, or error messages -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="{% if message.tags %}alert alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr>

        <div class="row">
            <div class="col-lg-10" >
              
                <!-- Filter Fields -->
                <h3>Filtres per assignatures</h3>
                <div class="d-flex justify-content-between row mb-2">
                    <!-- Filters section -->
                    <div class="filters d-flex flex-wrap">
                        <div class="col-md-12">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per titulació, assignatura o semestre">
                        </div>
                    </div>

                </div>
                
                <hr>

                <!-- List of all courses -->
                {% if global_selected_year %}
                    <h6 style="text-align:center; color:blue">
                        Assignació curs acadèmic 
                        {{ global_selected_year }} 

                        {% if global_selected_year|stringformat:"s" != global_available_years|first|stringformat:"s" %}
                            (Historial)
                        {% endif %}
                    </h6>
                {% endif %}

                <h3>Llistat d'assignatures</h3>
                <div class="d-flex justify-content-between row mb-2">
                    {% if not source_year and not target_year %}
                        <li>Si es vol tenir la funcionalitat de  <strong>duplicar l'assignació </strong>, sisplau trii un curs origen i un curs destí a duplicar en el botó de la dreta.</li>
                    {% endif %}
                </div>

                <table class="table table-striped" id="coursesassign-table" style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th style="text-align: left; width:22%;">Titulació</th>
                            <th style="text-align: left; width:20%;">Assignatura</th>
                            <th style="text-align: left; width:12%;">Semestre</th>
                            <th style="text-align: left; width: 12%;">Punts assignats</th>  
                            <th style="text-align: left; width: 10%;">Punts totals</th> 
                            <th class="actions-c" style="width:200px">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if course_data %}
                            {% for selected_course in course_data %}
                                <tr data-degree="{{ selected_course.degree }}"
                                    data-course="{{ selected_course.course }}" 
                                    data-semester="{{ selected_course.semester }}"
                                    onclick="toggleDetails(this)"
                                    {% if  selected_course.total_course_points != selected_course.total_assigned_points %}
                                        style="background-color: rgba(255, 99, 71, 0.2);"
                                    {% endif %}
                                    >
                                    <td>{{ selected_course.degree }}</td>
                                    <td>{{ selected_course.course }}</td>
                                    <td>{{ selected_course.semester }}</td>
                                    <td>{{ selected_course.total_assigned_points }}</td>
                                    <td>{{ selected_course.total_course_points }}</td>
                                   
                                    <td class="actions-c" style="width:200px">
                                        <!-- Edit button -->
                                        <a href="{% url 'courseyear_show' selected_course.id %}" class="button-create btn-sm">Assignar</a>

                                        <!--Duplicate Button-->
                                        {% if source_year and target_year %}
                                            <a id="duplicateBtn" href="{% url 'duplicate_course_assignment' selected_course.id %}" 
                                            class="button-edit btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" 
                                            title="Duplicar entre anys" 
                                            onclick="return confirmDuplicate('{{ selected_course.course }}', '{{ source_year }}', '{{ target_year }}');">
                                                <i class="fas fa-copy"></i> Duplicar
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>

                                <!-- Expanded Row for Details -->
                                <tr class="professor-details-row" style="display: none;">
                                    <td colspan="6" class="professor-details">
                                        <strong>Informació dels punts:</strong>  <span style="font-style: italic;"> ( Punts assignats / Punts totals ) </span>
                                        <p><strong>Sumatori:</strong> {{ selected_course.total_assigned_points }}/{{ selected_course.total_course_points }} <strong>   
                                            Per grups:</strong>
                                            {{ selected_course.points_summary|default:"No hi ha punts per assignar"|safe }}
                                        </p>
                                    </td>
                                </tr>

                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="10" class="text-center">Cap assignatura en cap titulació en aquesta secció.</td>
                            </tr>        
                        {% endif %} 
                    </tbody>
                </table>
                
                <!-- No results message -->
                <div id="no-results-message" class="text-center text-danger" style="display:none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

              <!-- Right Column for Button for Duplicated Year Selection -->
            <div class="col-lg-2">
                <div class="sticky-top" style="top: 1rem">
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'select_years' %}" class="button-secondary btn-sm">Seleccionar cursos a duplicar</a>
                        
                            <!-- Display selected years or message if not selected -->
                            <div id="selectedYears" class="mt-3">
                                {% if source_year  %}
                                    <p style="text-align:center; color:blue; font-style:italic; ">Curs origen: {{ source_year }}</p>
                                {% else %}
                                    <p style="text-align:center; color:blue; font-style:italic; "> Curs origen sense seleccionar</p>
                                {% endif %}

                                {% if target_year  %}
                                    <p style="text-align:center; color:blue; font-style:italic; ">Curs destí: {{ target_year }}</p>
                                {% else %}
                                    <p style="text-align:center; color:blue; font-style:italic; ">Curs destí sense seleccionar</p>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- JavaScript function for confirmation -->
<script>

    function toggleDetails(row) {
        // Find the next row, which is the details row
        let detailsRow = row.nextElementSibling;
        if (detailsRow && detailsRow.classList.contains('professor-details-row')) {
            detailsRow.style.display = detailsRow.style.display === 'none' ? 'table-row' : 'none';
        }
    }
        
    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);

    function filterTable() {
        const searchValue = normalizeString(document.getElementById('filter-all').value);
        const tableRows = document.querySelectorAll('#coursesassign-table tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const isDetailsRow = row.classList.contains('professor-details-row');
            const mainRow = isDetailsRow ? row.previousElementSibling : row;

            const fieldDegree = row.getAttribute('data-degree') ? normalizeString(row.getAttribute('data-degree')) : '';
            const fieldCourse = row.getAttribute('data-course') ? normalizeString(row.getAttribute('data-course')) : '';
            const fieldSemester = row.getAttribute('data-semester') ? normalizeString(row.getAttribute('data-semester')) : '';
            const fieldYear = row.getAttribute('data-year') ? normalizeString(row.getAttribute('data-year')) : '';

            const matchesSearch = fieldDegree.includes(searchValue) || fieldCourse.includes(searchValue) || 
                                  fieldSemester.includes(searchValue) || fieldYear.includes(searchValue);            
            if (!isDetailsRow) {
                // Main row visibility
                if (matchesSearch) {
                    mainRow.style.display = '';
                    rowsVisible++;
                } else {
                    mainRow.style.display = 'none';
                }
            } else {
                // Hide all detail rows by default unless manually toggled
                row.style.display = 'none';
            }
        });


        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap assignatura amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }

    function confirmDuplicate(courseName, sourceYear, targetYear) {
        return confirm("Estàs segur que vols duplicar l'assignatura '" + courseName + "' agafant l'assignació del curs : " + sourceYear + " i duplicar-lo al curs: " + targetYear + "?");
    }

</script>



{% endblock %}
