{% extends 'base-template/base.html' %}

{% load custom_filters %}

{% block title %}Detalls del Curs - {{ course_year.Course.NameCourse }}{% endblock %}

{% block content %}

<div class="container-fluid d-flex" style="min-height: 100vh;">
    <div class="col-lg-10 mx-auto">

        <h2 class="text-center">Assignació docent de l'assignatura :  {{ course_year.Course.NameCourse }} ({{ course_year.Semester }}) - Curs: {{ course_year.Year.Year }}</h2>

        <hr>
        <!-- Display success or warning messages -->
        {% if messages %}
            <div class="mt-3">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-11">
                <!-- Display the message if the assignation is done correctly -->
                <div class="message-assignment">
                    {% if course_year and typepoint_names_assigned %}
                        {% if total_points_sum != assigned_points_sum %}
                            <div class="mt-2" style="background-color: #d9534f; padding: 10px; border-radius: 5px; color: #fff; text-align:center" class="text-center">
                                <strong>Els Punts Totals i Assignats no coincideixen</strong>, revisa l'assignació d'aquesta assignatura.
                            </div>
                        {% else %}
                            <div class="mt-2" style="background-color: #6cbe6d; padding: 10px; border-radius: 5px; color: #fff; text-align:center" class="text-center">
                                <strong>El balanç de punts s'ha fet correctament:</strong>, no fa falta modificar l'assignació.
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                <!-- Info of that course -->
                <h5 class="mt-4 d-flex justify-content-between align-items-center">
                    Detalls de l'assignatura
                </h5>
                <p> <strong>Nom de l'assignatura:</strong> {{ course_year.Course.NameCourse }} &nbsp;&nbsp;&nbsp; 
                    <strong>Titulació:</strong> {{ course_year.Course.Degree.NameDegree }}
                </p>
                
                <p> <strong>Curs acadèmic:</strong> {{ course_year.Year.Year }} &nbsp;&nbsp;&nbsp;&nbsp; 
                    <strong>Semestre:</strong> {{ course_year.Semester }}
                </p>

                    
                <form method="POST" action="{% url 'update_course_year_comment' course_year.idCourseYear %}">
                    {% csrf_token %}
                    <label for="comment"><strong>Comentaris:</strong></label>
                    <textarea id="comment" name="comment" class="form-control" rows="3" 
                        placeholder="Sense comentari" 
                        onblur="this.form.submit();">{% if course_year.Comment and course_year.Comment != 'None' %}{{ course_year.Comment }}{% endif %}</textarea>
                </form>

                <hr>

                 <!-- Display existing capacities -->
                 <h5 class="mt-4 d-flex justify-content-between align-items-center">
                   Resum d'assignació docent
                </h5>
                <table class="table table-bordered" id="AssignedTable" style="background-color: white;  border: 1px solid #ced4da;">
                    <thead style="background-color: #DFE0E1;">
                        <tr>
                            <th style="width: 15%;">Tipus</th>
                            {% for point_name in typepoint_names_assigned.values %}
                                <th>{{ point_name }}</th>
                            {% endfor %}
                            <th>Suma</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="background-color: #DFE0E1;"><strong>Punts totals</strong></td> 
                            {% for point_name in typepoint_names_assigned.values %}
                                <td>{{ total_points|get_item:point_name|floatformat:"-2"  }}</td>
                            {% endfor %}
                                <td><strong>{{ total_points_sum|floatformat:"-2"  }}</strong></td>
                        </tr>
                        <tr>
                            <td style="background-color: #DFE0E1;"><strong>Punts assignats</strong></td>
                            {% for point_name in typepoint_names_assigned.values %}
                                <td>{{ assigned_points|get_item:point_name|floatformat:"-2"  }}</td>
                            {% endfor %}
                                <td><strong>{{ assigned_points_sum|floatformat:"-2" }}</strong></td>
                        </tr>
                        {% if total_points|length == 0 %}
                        <tr>
                            <td colspan={{ typepoint_names_assigned|length|add:"2" }} class="text-center">Cap punts assignats ni per assignar trobats.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
                <!-- No results message -->
                  <div id="AssignedTable-no-results-message" style="display: none;">
                    <p id="AssignedTablee-no-results-text"></p>
                </div>


                <!-- Display existing capacities -->
                <h5 class="mt-4 d-flex justify-content-between align-items-center">
                    Professorat assignat
                </h5>
                <table  class="table table-striped table-bordered"  id="assignmentTable">
                    <thead>
                        <tr>
                            <th style="width:150px">Professorat</th>
                            {% for point_name in typepoint_names_assigned.values %}
                                <th  style="width:70px">{{ point_name }}</th>
                            {% endfor %}
                            <th style="width:110px">Coordinador/a</th>
                            <th class="actions-c" style="width:180px">Accions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in assignment_data %}
                        <tr  data-assignment-id="{{ data.id }}" >
                            <form id="form-assignment-{{ data.id }}" class="assignment-form" action="{% url 'update_assignment' idAssignment=data.id %}" method="POST" data-assignment-id="{{ data.id }}">
                                {% csrf_token %}
                                <input type="hidden" name="idAssignment" value="{{ data.id }}">

                                <td>{{ data.professor_name }}</td>
                                {% for point_name in typepoint_names_assigned.values %}
                                    <td>
                                        <input type="number" name="{{ point_name }}" class="form-control" step="any" min="0"
                                        value="{{ data|get_item:point_name }}" disabled>
                                    </td>
                                {% endfor %}
            
                                <td>
                                    <select name="is_coordinator" class="form-select" disabled>
                                        <option value="yes" {% if data.is_coordinator%}selected{% endif %}>Si</option>
                                        <option value="no" {% if not data.is_coordinator %}selected{% endif %}>No</option>
                                    </select>
                                </td>
                            </form>

                            <td class="actions-c" style="width:180px">
                                <!-- For editing or deleting the assigned professor points -->
                                <button type="button" class="button-edit" onclick="editRow(this)">Editar</button>
                                <button type="button" class="button-save" style="display:none;" onclick="submitAssignmentForm({{ data.id }})" >Guardar</button>
                                <button type="button" class="button-cancel" style="display:none;" onclick="cancelEdit(this)">Cancelar</button>
                
                                <!-- Separate delete form with CSRF token -->
                                <form method="post" action="{% url 'delete_courseyear_professor' data.professor_id course_year.idCourseYear %}" style="display:inline;" onsubmit="return confirmDelete('{{ data.professor_name }}', '{{ data.professor_family_name }}', '{{ course_year.Course.NameCourse}}');">
                                    {% csrf_token %}
                                    <input type="hidden" name="confirm_delete" value="{{ data.professor_id }} {{ course_year.idCourseYear }}">
                                    <button type="submit" class="button-delete btn-sm">Eliminar</button>
                                </form>
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="{{ typepoint_names_assigned|length|add:"3" }}" class="text-center">Cap Professor assignat en aquesta assignatura.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <!-- Display possible professors to assign -->
                <h5 class="mt-4 d-flex justify-content-between align-items-center">
                    Professorat candidat a assignar
                </h5>

                <p>
                    Veure per veure l'explicació de la taula i els colors,  <a href="#explanation-section" class="text-decoration-underline">clicar aqui,</a> o anar al final de la taula.
                </p>

                <br>

                <!-- Filter Fields -->
                <div class="filters-section mb-4">
                    <h6>Filtres pel Llistat: </h6>
                    <div class="d-flex justify-content-start mb-2">
                        <!-- Filter Input -->
                        <div class="col-md-12">
                            <label for="filter-all">Filtrar per contingut</label>
                            <input type="text" id="filter-all" class="form-control" placeholder="Cerca per Nom, Cognom, Idiomes o Camps">
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-bordered" id="candidatesprofessorsTable">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom i cognoms</th>
                            <th>Punts restants en la secció</th>
                            <th>Punts totals a la secció</th>
                            <th>Punts totals en el departament</th>
                            <th>Idiomes</th>
                            <th>Camps de coneixement</th>
                            <th>Acció</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if professor_data%}
                            {% for professor in professor_data %}
                                <tr data-name="{{ professor.name }} {{ professor.family_name }}" 
                                data-languages="{{ professor.languages_list }}"
                                data-fields="{{ professor.fields_list }}"
                                {% if professor.is_assigned %}style="background-color: #DCDCDC ;"{% endif %}
                                >
                                    <td>{{ professor.name }} {{ professor.family_name }}</td>
                                    <td  style="color:{% if professor.prof_remaining_points < 0 %}green{% elif professor.prof_remaining_points == 0 %}blue{% else %}red{% endif %};">
                                        <strong>{{ professor.prof_remaining_points|floatformat:"-2" }}</strong>
                                    </td>
                                    <td>{{ professor.prof_assigned_points |floatformat:"-2"}}</td>
                                    <td>{{ professor.prof_total_points|floatformat:"-2" }}</td>
                                    <td>
                                        {{ professor.languages_list }}
                                    </td>
                                    <td>
                                            {{ professor.fields_list }}
                                    </td>
                                    <td>
                                        {% if professor.is_assigned %}
                                        ✔ Assignat/da
                                        {% else %}
                                            <form action="{% url 'assign_professor'  professor.professor_id course_year.idCourseYear %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="professor_id" value="{{ professor.professor_id }}">
                                                <input type="hidden" name="course_year_id" value="{{ course_year.id }}">
                                                <button type="submit" class="button-create btn-sm">Assignar</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="7" class="text-center">Cap professor/a entrat.</td>
                            </tr>        
                        {% endif %}
                    </tbody>
                </table>

                <hr>

                <!-- Information of possible professors to assign -->
                <div class="explanation-list" id="explanation-section" class="mt-4">
                    <h5>Explicació i llegenda de colors:</h5>
                    <ul>
                        <li><strong>Punts restants en la secció</strong>: Els punts restants en aquesta secció es calculen restant els punts ja assignats en les assignatures de la secció entre la capacitat total assignada per aquesta secció.</li>
                        <li><strong>Punts totals en el departament</strong>: Els punts totals que un professor/a pot tenir en el departament, la capacitat total disponible per aquest professor/a durant aquell curs acadèmic sense restar els seus punts d'alliberació.</li>
                        <li><strong>Punts assignats en la secció</strong>: Els punts que han estat assignats a aquest professor/a en assignatures de la mateixa secció per aquest curs acadèmic.</li>
                        <br>
                        <li><strong>Explicació de colors:</strong>
                            <ul>
                                <li><strong style="color:green">Verd</strong>: Si el valor és negatiu, indica que encara es poden assignar més punts al professor/a.</li>
                                <li><strong style="color:blue">Blau</strong>: Si el valor és zero, vol dir que el professor/a té els punts perfectament assignats per aquesta secció. No s'ha d'assignar més.</li>
                                <li><strong style="color:red">Vermell</strong>: Si el valor és positiu, vol dir que el professor/a ha estat assignat a més punts dels que la seus punts totals permet. Això indica que el professor/a està sobreassignat.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
                <!-- No results message -->
                <div id="no-results-message"  class="text-center text-danger" style="display: none;">
                    <span id="no-results-text"></span>
                </div>
            </div>

            <!-- Right Column for Return Button -->
            <div class="col-lg-1">
                <div class="sticky-top" style="top: 1rem">
                    <div class="buttons mb-2 d-flex flex-column align-items-center">
                        <a href="{% url 'section_courses_list' %}" class="button-return mb-2"> Tornar assignació docent</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function confirmDelete(professorName, professorFamilyname,NameCourse) {
        return confirm("Estàs segur que vols eliminar l'assignació aquest professor/a: " + professorName + " " + professorFamilyname + " en aquesta assignatura: "+ NameCourse +" ?");
    }


    document.getElementById('comment').addEventListener('blur', function(event) {
      if (this.value.trim() !== '') {
        this.form.submit();
      }
    });

    function editRow(button) {
        const row = button.closest('tr'); 
        const form = row.querySelector('form'); 
       
        const inputs = row.querySelectorAll('input, select'); 
        const saveButton = row.querySelector('button.button-save'); 
        const cancelButton = row.querySelector('button.button-cancel');  
        const editButton = row.querySelector('button.button-edit');  
        const deleteButton= row.querySelector('button.button-delete');
    
        // Store original values + make ABLE the inputs
        inputs.forEach(input => {
            input.dataset.originalValue = input.value;
            input.disabled = false; 
        });
        if (saveButton) {
            saveButton.style.display = 'inline-block';  // Show
        } 
        if (cancelButton) {
            cancelButton.style.display = 'inline-block';  // Show 
        } 
        if (editButton) {
            editButton.style.display = 'none';  // Hide
        }
        if (deleteButton) {
            deleteButton.style.display = 'none';  // Hide
        }
    }
    
    function cancelEdit(button) {
        const row = button.closest('tr');  
        const form = row.querySelector('form');  
        
        const inputs = row.querySelectorAll('input, select');
        const saveButton = row.querySelector('.button-save');
        const cancelButton = row.querySelector('.button-cancel');  
        const editButton = row.querySelector('.button-edit');  
        const deleteButton= row.querySelector('button.button-delete');

        // return to original data and DISABLE the inputs of the form
        inputs.forEach(input => {
            input.value = input.dataset.originalValue;
            input.disabled = true; 
        });      

        if (saveButton) {
            saveButton.style.display = 'none';  // Hide 
        } 
        if (cancelButton) {
            cancelButton.style.display = 'none';  // Hide
        } 
        if (editButton) {
            editButton.style.display = 'inline-block';  // Show
        }
        if (deleteButton) {
            deleteButton.style.display =  'inline-block';  // Show
        }
    }

    // Function to submit the ASSIGNMENT FORM
    function submitAssignmentForm(id) {
        const form = document.getElementById('form-assignment-' + id);
        form.submit(); 
    }
    
    //Not using  accents in the filter and in the data
    function normalizeString(str) {
        return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
    }

    // JavaScript for dynamic filtering
    document.getElementById('filter-all').addEventListener('input', filterTable);

    function filterTable() {
        const searchValue =normalizeString(document.getElementById('filter-all').value.toLowerCase());
        const tableRows = document.querySelectorAll('#candidatesprofessorsTable tbody tr');

        let rowsVisible = 0;

        tableRows.forEach(row => {
            const fieldName =  row.getAttribute('data-name') ? normalizeString(row.getAttribute('data-name').toLowerCase()): '';
            const fieldLanguages = row.getAttribute('data-languages') ? normalizeString(row.getAttribute('data-languages')) : '';
            const fieldFields = row.getAttribute('data-fields') ? normalizeString(row.getAttribute('data-fields')) : '';

            const matchesSearch = fieldName.includes(searchValue) ||fieldLanguages.includes(searchValue) ||fieldFields.includes(searchValue) ;

            if (matchesSearch) {
                row.style.display = '';
                rowsVisible++;
            } else {
                row.style.display = 'none';
            }
        });

        const noResultsMessage = document.getElementById('no-results-message');
        const noResultsText = document.getElementById('no-results-text');

        // No results message logic
        if (rowsVisible === 0) {
            let message = "Cap Professor amb els criteris de cerca";
            if (searchValue) {
                message += ` amb el terme "${searchValue}"`;
            }
            noResultsText.textContent = message + ".";
            noResultsMessage.style.display = 'block';
        } else {
            noResultsMessage.style.display = 'none';
        }
    }


</script>

<style>
    /* Hide spinner arrows in input Number*/
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type=number] {
        -moz-appearance: textfield;
    }
    </style>


{% endblock %}

